*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right bottom, #11d4bd, #e57cce );
    background-repeat: no-repeat;
}
.content{
    height: 100vh;
}
.bi{
    padding: 10px;
}
.form-floating input:focus{
    outline: 0;
}
.form-floating.success input{
    border-color: #09c372;
}
.form-floating.error input{
    border-color: #ff3860;
}
.form-floating .error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}